/* 전체 적용 */
@font-face {
    font-family: "Blink";
    src: url("workspace_page/font/Blink.ttf");
}

div {
    font-family: "Blink";
}

body {
    width: 100vw;
    height: 100%;
    margin: 0;
}

/* <!-- 상단 메뉴바 --> */
#header{
    height: 64px;
    width: 100vw;
    background-color: white;
    /* position: fixed; */
    display: flex;
    max-width: 1250px;
    min-width: 320px;
    margin: 0 auto;
    /* border: 1px dashed red; */
}

#logo{
    height: 30px;
    width: 100px;
    top : 20px;
    position: relative;
    left : 0px;
}

#logo_img{
    width: 100px;
    height: auto;
}


#tab_0{
    height: 32px;
    width: 72px;
    position: relative;
    left : 120px;
    top : 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ff6f0f;
    /* border: 1px dashed green; */
}

#tab_1{
    height: 32px;
    width: 72px;
    position: relative;
    left : 150px;
    top : 20px;
    text-decoration: none;
    font-size: 18px;
    /* border: 1px dashed green; */
}

#tab_2{
    height: 32px;
    width: 40px;
    position: relative;
    left : 180px;
    top : 20px;
    text-decoration: none;
    font-size: 18px;
    /* border: 1px dashed green; */
}

#tab_3{
    height: 32px;
    width: 120px;
    position: relative;
    left : 210px;
    top : 20px;
    text-decoration: none;
    font-size: 18px;
    /* border: 1px dashed green; */
}

#tab_4{
    height: 32px;
    width: 120px;
    position: relative;
    left : 240px;
    top : 20px;
    text-decoration: none;
    font-size: 18px;
    /* border: 1px dashed green; */
}

#top_input input{
    height: 30px;
    width: 280px;
    position: relative;
    left : 270px;
    top : 12px;
    padding: 5px;
    background-color: #F2F3F6;
    border-radius: 10px;
    text-decoration: none;
    font-size: 17px;
    color: gray;
    outline: none;
    border: none
}

#top_button button{
    height: 40px;
    width: 120px;
    position: relative;
    left : 280px;
    top : 12px;
    background-color: white;
    font-size: 18px;
    border: 1px solid rgb(231, 225, 225);
    border-radius: 10px;
    cursor: pointer;
}

#top_button button:hover {
    background-color:  rgb(238, 234, 234);
  }


/* <!-- 첫 번째 본문 구역 --> */

#body_1_back{
    height: 700px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FBF7F2;
    /* border: 1px dashed red; */
}

#body_1{
    height: 700px;
    width: 100vw;
    padding : 0;
    margin: 0;
    outline: none;
    /* position: relative; */
    background-color: #FBF7F2;
    display: flex;
    /* border: 1px dashed green; */
}

#body_1_left_top{
    height: 150px;
    width: 500px;
    top: 200px;
    left: 400px;
    position: relative;
    font-size: 45px;
    /* display: flex; */
    /* border: 1px dashed blue; */
}

#body_1_left_down{
    height: 80px;
    width: 500px;
    top:450px;
    left: 400px;
    position: absolute;
    display: flex;
    /* border: 1px dashed blue; */
}


#body_1_img{
    width: 804px;
    height: auto;
    position: absolute;
    left: 800px;
}

/* <!-- 두 번째 본문 구역 --> */
#body_2{
    height: 800px;
    padding : 0px;
    margin: 60px;
    outline: none;
    background-color: white;
    display: flex;
    /* border: 1px dashed green; */
}

#body_2_img{
    width: 532px;
    height: auto;
    position: absolute;
    left: 400px;
}

#body_2_right_top_1{
    height: 150px;
    width: 500px;
    top: 200px;
    left: 1000px;
    position: relative;
    font-size: 40px;
    display: flex;
    /* border: 1px dashed blue; */
}

#body_2_right_top_2{
    height: 600px;
    width: 500px;
    top: 350px;
    left: 500px;
    position: relative;
    font-size: 18px;
    display: flex;
    /* border: 1px dashed blue; */
}

#body_2_right_btn_1 button{
    height: 50px;
    width: 150px;
    position: relative;
    left : 0px;
    top : 430px;
    background-color: #F2F3F6;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

#body_2_right_btn_2 button{
    height: 50px;
    width: 220px;
    position: relative;
    left : 20px;
    top : 430px;
    background-color: #F2F3F6;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

#body_2_right_btn_1 button:hover{
    background-color:  rgb(238, 234, 234);
  }

  #body_2_right_btn_2 button:hover{
    background-color:  rgb(238, 234, 234);
  }

/* <!-- 세 번째 본문 구역 --> */

#body_3{
    height: 800px;
    width: auto;
    padding : 0px;
    outline: none;
    background-color: #E6F3E6;
    display: flex;
    /* border: 1px dashed green; */
}


#body_3_left_top{
    height: 150px;
    width: 500px;
    top: 200px;
    left: 400px;
    position: relative;
    font-size: 45px;
    /* display: flex; */
    /* border: 1px dashed blue; */
}

#body_3_left_down{
    height: 80px;
    width: 500px;
    top:380px;
    left: -100px;
    position: relative;
    display: flex;
    /* border: 1px dashed blue; */
}


#body_3_img{
    width: 546px;
    height: auto;
    position: absolute;
    left: 890px;
}